# Node / React
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.DS_Store

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/
pip-log.txt
pip-delete-this-directory.txt

# PyTorch Models (don't push huge downloaded weights if any)
*.pth
*.pt
.cache/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
